<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/moorle_logo.png') }}">

    <title>Staff login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <form  id="login-form">
            <div class="logo">
                <img src="{{ url_for('static', filename='images copy/logo.jpeg') }}" alt="logo" style="width: 100px; height: 100px; padding-left: 140px;">
            </div>
            <div class="heading">
                <h3>Sign in with email</h3>
            </div>
            <div class="description">
                <h4>Login using the email and password assigned to you</h4>
            </div>
            <div class="input-container">
                <i class="fas fa-envelope icon"></i>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="input-container">
                <i class="fas fa-lock icon"></i>
                <input type="password" name="password" id="password" placeholder="Password">
                <i class="fas fa-eye icon-right" id="toggle-password"></i>
            </div>
            <div class="forgot-password">
                <a href="">forgot password?</a>
            </div>
            <div class="login-button">
                <button type="submit" id="loginButton"><a>Login</a></button>
            </div>
        </form>
    </div>
    <div class="loading-overlay" id="loadingOverlay">
        <div class="loading-spinner"></div>
    </div>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>